.login {
    display: inline-block;
    padding: 15px 30px;
    align-items: end;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: #3c5f62;
    margin: 0px 0.5rem;
    color: white;

}
nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 15px 30px;
    z-index: 1;
    margin: 0 0 0 53rem;
}
.banner {
    background-image: url( ./BOGOTA.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 29vw;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    filter: contrast(0.8);
}
img {

    display: flex;
    width: 100%;
    position:;
    opacity: .8;
}

.logo {
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 17rem;
    top: 20vh;
    z-index: 1;
}

.experiences-grid {
    padding: 30px;
    background-image: url(./landingbg.f640a989.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;
    height: 50rem;
}

p {
    display: flex;
    text-transform: uppercase;
    font-size: 14px;
    height: 1rem;
    justify-content: center;
}
  
.Enunciado1 {
    font-size: 30px;
    color: black;
    margin: 10px 0px 0px;
    font-weight: bold;
    height: 5rem;
}
h2 {
    font-size: 30px;
    color: black;
    margin: 10px 0px 0px;
    font-weight: bold;
    height: 5rem;
    text-align: center;
}


.Ciudades-Principales {
    display: flex;
    z-index: 1;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    margin: 8rem;
    position: absolute;
    color: white;
}

.Ciudades-Secundarias {
    display: flex;
    z-index: 1;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    margin: 8rem;
    position: absolute;
    color: white;
}
.Bogota {
    margin: 0 0 0 1rem;
}
.Santa-Marta {
    margin: 0 0 0 14rem;
}
.Cartagena {
    margin: 0 0 0 13rem;
}
.San-Andrés {
    margin: 0 0 0 13rem;
}
.Guaviare {
    margin: 0 0 0 13rem;
}
.Amazonas {
    margin: 0 0 0 15rem;
}
.Ciudades-Principales-Portadas {
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    justify-items: center;
    height: 17rem;
    margin-bottom: 2rem;
}

.Ciudades-Secundarias-Portadas {
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    justify-items: center;
    
}

.Bogota-Portada {
    margin: 10px;
    height: inherit;
    filter: brightness(0.5);
    border-radius: 25px;
}
.Santa-Marta-Portada {
    margin: 10px;
    height: inherit;
    filter: brightness(0.5);
    border-radius: 25px;
}
.Cartagena-Portada {
    margin: 10px;
    height: inherit;
    filter: brightness(0.5);
    border-radius: 25px;

}
.San-Andres-Portada {
    margin: 10px;
    height: inherit;
    filter: brightness(0.5);
    border-radius: 25px;
}
.Guaviare-Portada {
    margin: 10px;
    height: inherit;
    filter: brightness(0.5);
    border-radius: 25px;
}
.Amazonas-Portada {
    margin: 10px;
    height: inherit;
    filter: brightness(0.5);
    border-radius: 25px;
}

footer {
    background-color: #90b2b5;
}
.Footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    
    
}
.Logo-Piedepagina {
    width: 6rem;
}
.Piedepagina1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}
.Piedepagina2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}
.logos {
    display: flex;
    width: 2rem;
    gap: 1rem;
    margin: 0 9rem 0 0;
}