.login {
    display: inline-block;
    padding: 15px 30px;
    align-items: end;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: #2a81e8!important;
    margin: 0px 0.5rem;

}
nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 15px 30px;
    z-index: 1;
    margin: 0 0 0 53rem;
}

img {

    display: flex;
    width: 100%;
    position:;
    opacity: .8;
}

.logo {
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 17rem;
    top: 20vh;
    z-index: 1;
}

.experiences-grid {
    padding: 30px;
    background-image: url(./landingbg.f640a989.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;
    height: 50rem;
}

p {
    display: flex;
    text-transform: uppercase;
    font-size: 14px;
    height: 1rem;
    justify-content: center;
}
section.Container {
    margin-top: 2rem;
    margin-bottom: 4rem;
   
}
.Enunciado2 {
    font-size: 30px;
    color: black;
    margin: 10px 0px 0px;
    font-weight: bold;
    height: 5rem;
}

input {
    width: 100%;
    border: 1;
    margin: 37px 1px 37px 1px;
    display: inline-flex;
    padding: 9px;
    position: relative;
    min-width: 0;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-radius: 1rem;
}
.Ciudades-Principales {
    display: flex;
    justify-content: space-around;
    z-index: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
}

.Ciudades-Secundarias {
    display: flex;
    justify-content: space-around;
    z-index: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
}
.Ciudades-Principales-Portadas {
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    justify-items: center;
    height: 17rem;
}

.Ciudades-Secundarias-Portadas {
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    justify-items: center;
}

.Bogota-Portada {
    margin: 10px;
}
.Santa-Marta-Portada {
    margin: 10px;
}
.Cartagena-Portada {
    margin: 10px;
}
.San-Andres-Portada {
    margin: 10px;
}
.Guaviare-Portada {
    margin: 10px;
}
.Amazonas-Portada {
    margin: 10px;
}

footer {
    background-color: gray;
}
.Footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    
    
}
.Logo-Piedepagina {
    width: 6rem;
}
.Piedepagina1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}
.Piedepagina2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}